<app-first-component></app-first-component>
<app-second-component></app-second-component>
<app-custom-pipe></app-custom-pipe>
<app-two-way-data-bindinig></app-two-way-data-bindinig>
<app-render-list></app-render-list>
<app-custom-component name="Maria" secondName="da Silva"></app-custom-component>
<app-custom-component name="João" secondName="da Silva"></app-custom-component>
<app-parent-component></app-parent-component>
<app-example-services01></app-example-services01>
<app-example-services02></app-example-services02>